@page
@model IndexModel
@{
    ViewData["Title"] = null;
    var count  = 42;
}

<div>
    <big-header name="Nick"></big-header>

    <div x-data="{ open: false }">
        <button class="btn btn-info" x-on:click="open = true">Expand</button>

        <span x-show="open">
            Content...
            @* <button class="btn btn-primary">Outside</button> *@

            <custom-counter 
                count={3}
                answer={42}
            />

            <partial name="_FruitLoops" model="new CerealTable()"></partial>
        </span>
    </div>

</div>

<section>
     <options-panel id="5" options="{bar: true}" name="Language Options">
            <p>template go here</p>
        </options-panel>
    
        <h1>Without Svelte</h1>
        <template x-for="[key, value] of Object.entries(options)">
            <div class="mb-3">
                <label class="form-label" :for="key"></label>
                <span x-text="key">This is for debugging only and can be omitted</span>
                <input type="checkbox" class="form-control toggle toggle-accent" :for="key">
            </div>
        </template>

</section>


<section class="flex w-1/3">
    <ul class="menu xl:menu-horizontal lg:min-w-max bg-base-200 rounded-box">
        <li>
            <a>Solutions</a>
            <ul>
                <li>
                    <a>Design</a>
                </li>
                <li>
                    <a>Development</a>
                </li>
                <li>
                    <a>Hosting</a>
                </li>
                <li>
                    <a>Domain register</a>
                </li>
            </ul>
        </li>
        <li>
            <a>Enterprise</a>
            <ul>
                <li>
                    <a>CRM software</a>
                </li>
                <li>
                    <a>Marketing management</a>
                </li>
                <li>
                    <a>Security</a>
                </li>
                <li>
                    <a>Consulting</a>
                </li>
            </ul>
        </li>
        <li>
            <a>Products</a>
            <ul>
                <li>
                    <a>UI Kit</a>
                </li>
                <li>
                    <a>Wordpress themes</a>
                </li>
                <li>
                    <a>Wordpress plugins</a>
                </li>
                <li>
                    <a>Open source</a>
                    <ul>
                        <li>
                            <a>Auth management system</a>
                        </li>
                        <li>
                            <a>VScode theme</a>
                        </li>
                        <li>
                            <a>Color picker app</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a>Company</a>
            <ul>
                <li>
                    <a>About us</a>
                </li>
                <li>
                    <a>Contact us</a>
                </li>
                <li>
                    <a>Privacy policy</a>
                </li>
                <li>
                    <a>Press kit</a>
                </li>
            </ul>
        </li>
    </ul>
</section>
